In [37]:
import pandas as pd
df = pd.read_csv('/Users/venkatchandan/Desktop/ML_Projects/DeployedProjects/1_stockMomentum/data/raw/base_ohlcv_data.csv')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13860 entries, 0 to 13859
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   symbol  13860 non-null  object
 1   date    13860 non-null  object
 2   open    13860 non-null  float64
 3   high    13860 non-null  float64
 4   low     13860 non-null  float64
 5   close   13860 non-null  float64
 6   volume  13860 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 758.1+ KB

In [39]:
df.describe()

               open          high           low         close        volume
count  13860.000000  13860.000000  13860.000000  13860.000000  1.386000e+04
mean    1443.334706   1459.914808   1425.931380   1442.646079  5.242734e+06
std     1434.936261   1451.491842   1416.551637   1433.625642  8.160473e+06
min       74.269549     77.240349     71.316246     76.392799  0.000000e+00
25%      395.582766    400.579049    390.209551    395.090179  1.584952e+06
50%     1002.822696   1013.066219    992.316479   1001.857910  3.148430e+06
75%     1679.597066   1698.443739   1660.901343   1679.880585  6.476696e+06
max     7190.692975   7227.646285   7082.213608   7201.883789  2.607352e+08

In [40]:
# No missing values
df.isnull().sum()

symbol    0
date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [41]:
# Number of Unique Trading Days in total
len(df['date'].unique().tolist())

2310

In [ ]:
df['symbol'].value_counts()

symbol
HCLTECH.NS    2310
INFY.NS       2310
LTIM.NS       2310
TCS.NS        2310
TECHM.NS      2310
WIPRO.NS      2310
Name: count, dtype: int64